body {
    margin: 0;
    font-family: Verdana;
}
nav {
    padding: 2em;
    background: lightskyblue;
}
nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 2em;
    margin-right: 5em;
}
nav a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}
.aktivni {
    color: aquamarine;
}